[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pip_conf_index_global"

[packages]
minio = "*"
django = "*"
requests = "*"
pymysql = "*"
redis = "*"
django-redis = "*"
fake-useragent = "*"
numpy = "*"
beautifulsoup4 = "*"
schedule = "*"

[dev-packages]

[requires]
python_version = "3.8"
python_full_version = "3.8.10"
